.Zcard {
  position: relative;

  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  padding-bottom: 3.4em;
}

.Zcard::after {
  content: "See Details";
  text-align: center;
  padding-top: 1.25em;
  padding-left: 1.25em;
  padding-bottom: 2.25em;
  position: absolute;
  left: 0;
  bottom: -80px;
  background: #29b6f6;
  color: #fff;
  height: 2.5em;
  width: 100%;
  transition: all 80ms;
  font-weight: 600;

  opacity: 0;
}

.Zcard .title {
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
}

.Zcard .price {
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
}

.Zcard:hover::after {
  bottom: 0;
  opacity: 1;
}

.Zcard:active {
  transform: scale(0.98);
}

.Zcard:active::after {
  content: "Browsing Product !";
}

.Zimage {
  background: #fff;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip button {
  background-color: #29b6f6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-out;
}

.tooltip button:hover {
  background-color: #b92929;
  transform: scale(1.05);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
